html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Droid Sans';
}

body {
  background-color: #d1d2cc !important;
  min-height: 100%;
  width: 100%;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* <--- Normalize 
Cynthia Carllini -->
*/
#app{
	 position: relative;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
}
body > .bg {
	 background-image: url("../img/fondo.jpg");
	 background-size: cover;
	position: fixed;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
}	 
#main{
	position: relative;
	margin: auto;
	width: calc(100% - 80px);
	max-width: 1480px;
}
header{
	padding:50px 0 40px 0;
	overflow: hidden;
	display:flex;
	align-items:center;
	justify-content:space-between;
}
header ul li{
	margin: 0px 15px;
	float: left;
}
header ul li a {
	text-decoration: none;
	color:#666666;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 3.5px;
}
header ul li:first-child {
	margin-left: 0;
}
.nav ul li a:hover, .nav ul li.active a ,
header ul li.active a {
	color:#cc3300; 
}
header ul li a:hover{
	color:#cc3300;
}
header .logo{
  order: 1;
}
#content .side{
	width: 30%;
	float:left;
	position:relative;
	padding: 0 15px 0 0;
	box-sizing: border-box;
}
.side .text{
    bottom: 0;
    right: 15px;
    position: absolute;
}


.nav ul{
	float:left;
}

.nav ul li{
	margin-bottom: 10px;
	position: relative;;;
}

.nav ul li  a{
	text-decoration: none;
	color:#666666;
	font-size: 15px;
}

.nav ul li:before {
  height: calc(100% - 8px);
  background: #969696;
  content: '';
  display: block;
  width: 20px;
  position: absolute;
  margin-left: -40px;
  margin-top: 4px;
}

.text-top h1,
.text-bottom h1{
	color:#333333;
	font-weight:600;
	font-size: 15px;
	line-height: 17px;
	margin-bottom: 10px;
	margin-top: 15px;
}


.text-bottom h1{
	color:#868686;
}

.text-top p{
	color:#333333;
	font-size:14px;
	line-height: 17px;
}
.text {
  position: absolute;
  bottom: 2px;
  text-align:right;
  right: 10px;
}
.text p {
    line-height: 15px;
    margin-bottom: 10px;
}
.text p:last-child {
	margin-bottom:0;
	font-size:12px;
	line-height:14px;
}

.light-top {
	color:#333333;
	font-size:13px;
	line-height: 17px;
}


.text-bottom p{
	color:#666666;
	font-size:14px;
	line-height: 16px;
}
.text-bottom p:last-child {
	margin-bottom: 0;
}

.light-bottom {
	color:#666666;
	font-size:13px;
	line-height: 17px;
}
.flexslider {
	width: 100%;
	margin: 0 !important;
}
.flexrow {
   display: flex;
   	align-items:center;
   margin: 0 -10px;
   justify-content: space-between;
}
.flexrow > .col {
  padding: 0 10px;
  box-sizing: border-box;
   
}
.flexrow > .col.first-col {
  width: 270px;
  position: relative;
   
}
.flexrow > .col.second-col {
  width: calc(100% - 270px);
  min-height: 480px;
}
.flex-caption {
	bottom: 0;
}
.flex-caption-top,
.flex-caption {
    width: 100%;
    padding: 40px;
    left: 0;
    right: 0;
    color: #000;
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    color: rgba(255,255,255,.5);
}
.flex-caption-top {
	top: 0;
	color: rgba(255,255,255,1);
}

.clear { clear: both; }

@media (max-width: 999px) {
	#main {
		width: 100%;
	}
	.flexrow,
	.flexrow > .col {
		padding: 0;
		margin: 0;
	}
  .flexrow {
  	flex-direction: column;
  }
  .flexrow > .col.second-col,
  .flexrow > .col.first-col {
  	width: 100%;
  	min-height: inherit !important;
  }
  .flexrow > .col.first-col {
  	order: 1;
  }
  .flexrow > .col.first-col .text {
  	position: initial;;
  	text-align: left;
  	border-top: 1px solid #B7B7B7;
  	padding: 10px 20px;
  }
  .flexrow > .col.first-col .nav ul {
  	display: flex;
  	align-items:center;
	justify-content:space-around;
  	margin-top: 20px;
  }
  .flexrow > .col.first-col .nav ul li {
  	padding: 0 20px;
  	text-align: center;
  }
  .flexrow > .col.first-col .nav ul li:before {
  	display: none;
  }
  header .logo {
    margin-bottom: 15px;
    -ms-transform: scale(0.9,0.9);
    -webkit-transform: scale(0.9,0.9);
    transform: scale(0.9,0.9);
  }
  header {
    flex-direction: column-reverse;
    padding: 40px 0 30px 0;
  }
  header ul li:first-child {
  	padding-left: 15px;
  }
} 
@media (max-width: 730px) {
	header .logo {
	    -ms-transform: scale(0.6,0.6);
	    -webkit-transform: scale(0.6,0.6);
	    transform: scale(0.6,0.6);
	}
	header ul li a {
		font-size: 12px;
		letter-spacing: 2px;
	}
	header ul {
		text-align: center;
    	display: flex;
	}
	header ul li {
		padding: 0 10px !important;
		margin: 0;
	}
	.flex-caption-top, .flex-caption {
		padding: 10px;
		font-size: 10px;
	}
	.flexrow > .col.first-col .nav ul {
		width: 100%;
		flex-flow: row wrap;
		justify-content: flex-start;
	}
	.flexrow > .col.first-col .nav ul li {
		text-align: left;
	}

}
 
